extends layout

block content
  #branding
    h1= title
    p #{title}
  
  .menu.bar
    nav
      ul
        li
          a(href="/users") All Users
        li
          a(href="/users/new") Create New User


  #content
    form(action="/users", method="post")
      fieldset
        .form-group
          label(for="name") Name
          .control
            input(type="text", name="name", id="name")

        .form-group
          label(for="gender") Gender
          .control
            input(type="text", name="gender", id="gender")


        .actions
          input(type="submit", value="Submit", class="btn btn-default")