extends ../layout

block content
  #branding
    h1= title
    p #{title}
  
  include ../menu

  #content
    form(action="/users/login", method="post")
      fieldset
        .form-group
          label(for="email") email
          .control
            input(type="email", name="email", id="email")

        .form-group
          label(for="password") Password
          .control
            input(type="password", name="password", id="password")


        .actions
          input(type="submit", value="Submit", class="btn btn-default")